Flask==1.0.2
requests==2.20.0
cachetools==3.1.1
earthengine-api==0.1.201
future==0.17.1
google-api-core==1.14.2
google-api-python-client==1.7.11
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-cloud-core==1.0.3
google-cloud-storage==1.19.0
google-resumable-media==0.4.0
googleapis-common-protos==1.6.0
httplib2==0.13.1
pyreadr==0.2.1
uritemplate==3.0.0
gunicorn
